body {
	padding-top: 0;
}

/* Navigation */
.navbar {
	background: transparent;
	border-bottom-color: rgba(255,255,255,0.2);
}

.navbar-header>a,
.nav>li>a {
	color: #FFF;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	transition: text-shadow .3s ease;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(255,255,255,0.2);
}

.navbar-brand:focus,
.navbar-brand:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
}

.nav button {
	color: #FFF;
}

.nav .btn-link:focus,
.nav .btn-link:hover {
	background-color: rgba(255,255,255,0.2);
	color: #FFF;
}
/* End Navigation */